@page "/partners/distributors"

<PK_Paralax Text="Distribuidores"/>

<div class="container pt-5">
	<PK_Title Text="TORNE-SE UM DISTRIBUIDOR PROAUTO KIMIUM" Style="PKStyle.Three"/>
	<div class="pt-4 w-75">
		<p>
			Leve para seus clientes produtos de alta qualidade e tecnologia com a credibilidade da Proauto Kimium.
			Ao se tornar um distribuidor, você se destaca no mercado com o suporte de uma marca consolidada há mais de
			35 anos.
		</p>
		<p>
			Nosso compromisso é com a excelência, oferecendo produtos que atendem às necessidades do mercado automotivo.
			Com uma linha completa de equipamentos, você terá acesso a soluções inovadoras que garantem eficiência e
			qualidade.
		</p>
		<p>
			Se você é um profissional do setor e deseja expandir seus negócios, entre em contato conosco.
			Estamos prontos para oferecer todo o suporte necessário para que você se torne um distribuidor de sucesso.
		</p>
		<p>
			Além de um portifólio completo de soluções, oferecemos:
		</p>
		<ul>
			<li>Apoio técnico especializado</li>
			<li>Materiais promocionais exclusivos</li>
			<li>Treinamentos constantes para sua equipe</li>
		</ul>
		<p>
			Associe sua empresa a uma marca reconhecida pela inovação e performance. Amplie seu alcance, fortaleça sua
			presença e impulsione suas vendas com a força da Proauto Kimium ao seu lado.
		</p>
	</div>
	<div class="p-4">
		<PK_ContactButton/>
	</div>
</div>

@code {
}
