@page "/partners/distributors"

<PK_Paralax Text="Distribuidores"/>

<div class="container pt-5">
	<PK_Title Text="TORNE-SE UM DISTRIBUIDOR PROAUTO KIMIUM" Style="PKStyle.Three" />
	<div class="pt-4 w-50">
		<p>
			Distribua para os seus clientes produtos de alta qualidade e tecnologia da Proauto Kimium, Seja distribuidor e se diferencie no mercado competitivo.
			Além de produtos de alta qualidade e tecnologia, a Proauto Kimium oferece apoio de sua equipe técnica especializada, material promocional e treinamentos.
			Adicione mais de 35 anos de experiência e qualidade à sua marca e alavanque suas vendas.
		</p>
	</div>
</div>

@code {

}
