.paralax {
    position: relative;
    background-image: url('assets/images/foto-3-min-1536x1025.png');
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    border-radius: 5px;
}

.paralax::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.paralax h1 {
    position: relative;
    z-index: 2;
    font-size: 3rem;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
}
