<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">Sobre a Proauto</span>
                        <h2>+ 30 anos de experiência no mercado químico</h2>
                    </div>
                    <div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries</div>
                    <ul class="list-style-one">
                        <li>+35 anos cuidando da sua higienização</li>
                        <li>+7000 Clientes</li>
                        <li>+30 serviços de consultoria.</li>
                    </ul>
                    <div class="btn-box">
                        <a href="#" class="theme-btn btn-style-one">Entrar em contato</a>
                    </div>
                </div>
            </div>
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img src="https://i.ibb.co/QP6Nmpf/image-1-about.jpg" alt=""></a></figure>
                    <figure class="image-2"><a href="#" class="lightbox-image" data-fancybox="images"><img src="https://i.ibb.co/JvN0NVB/image-2-about.jpg" alt=""></a></figure>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    // TODO: revisar Sobre nós
}