<MudDrawer @bind-Open="IsOpen"
           Anchor="Anchor.Left"
           Elevation="1"
           Variant="@DrawerVariant.Temporary"
           OverlayAutoClose="true"
           Class="drawer-content">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6">Carrinho</MudText>
    </MudDrawerHeader>
    <div class="drawer-body">

        <div class="bottom-buttons">
            <MudButton Color="Color.Secondary">Solicitar Orçamento</MudButton>
            <MudButtonGroup Size="Size.Small" OverrideStyles="false" Vertical="false">
                <MudButton FullWidth="true" Color="Color.Error" OnClick="FecharCarrinho">Fechar</MudButton>
                <MudIconButton Color="Color.Default" Icon="@Icons.Material.Filled.Delete"/>
            </MudButtonGroup>
        </div>
    </div>
</MudDrawer>

@code {
    private bool _isOpen;

    [Parameter]
    public bool IsOpen
    {
        get => _isOpen;
        set
        {
            if (_isOpen == value) return;
            _isOpen = value;
            IsOpenChanged.InvokeAsync(value);
        }
    }

    [Parameter] public EventCallback<bool> IsOpenChanged { get; set; }

    private void FecharCarrinho()
    {
        IsOpen = false;
        IsOpenChanged.InvokeAsync(false);
    }

}
