<MudDrawer @bind-Open="IsOpen"
           Anchor="Anchor.End"
           Elevation="1"
           Variant="@DrawerVariant.Temporary"
           OverlayAutoClose="true"
           Class="drawer-content">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6">Carrinho</MudText>
    </MudDrawerHeader>
    <div class="drawer-body">

        <div class="bottom-buttons">
            <MudButtonGroup Size="Size.Small" OverrideStyles="false">
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" FullWidth="true">Solicitar Orçamento</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Error" FullWidth="true" OnClick="FecharCarrinho">Fechar</MudButton>
            </MudButtonGroup>
        </div>
    </div>
</MudDrawer>

@code {
    private bool _isOpen = false;

    [Parameter]
    public bool IsOpen
    {
        get => _isOpen;
        set => _isOpen = value;
    }

    [Parameter]
    public EventCallback<bool> IsOpenChanged { get; set; }

    private void FecharCarrinho()
    {
        IsOpen = false;
        IsOpenChanged.InvokeAsync(false);
    }
}
