<div class="produtos-container">
    <div class="produto">
        <article>
            <div class="article-product">
                <figure>
                    <img src="assets/images/card-alimentos.png" alt="alimentos" loading="lazy">
                </figure>
                <div class="article-body">
                    <h3>Alimentos</h3>
                    <a href="#" class="ver-produtos">
                        Ver produtos <span class="sr-only">Ver Produtos</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </a>
                </div>
            </div>
        </article>
    </div>
    <div class="produto">
        <article>
            <div class="article-product">
                <figure>
                    <img src="assets/images/card-cozinhas.png" alt="cozinhas industriais" loading="lazy">
                </figure>
                <div class="article-body">
                    <h3>Cozinhas industriais e Restaurantes</h3>
                    <a href="#" class="ver-produtos">
                        Ver produtos <span class="sr-only">Ver Produtos</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </a>
                </div>
            </div>
        </article>
    </div>
    <div class="produto">
        <article>
            <div class="article-product">
                <figure>
                    <img src="assets/images/card-automotivos.png" alt="automotivo" loading="lazy">
                </figure>
                <div class="article-body">
                    <h3>Automotivo</h3>
                    <a href="#" class="ver-produtos">
                        Ver produtos <span class="sr-only">Ver Produtos</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </a>
                </div>
            </div>
        </article>
    </div>
    <div class="produto">
        <article>
            <div class="article-product">
                <figure>
                    <img src="assets/images/card-industrial.png" alt="industrias" loading="lazy">
                </figure>
                <div class="article-body">
                    <h3>Industrias</h3>
                    <a href="#" class="ver-produtos">
                        Ver produtos <span class="sr-only">Ver Produtos</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </a>
                </div>
            </div>
        </article>
    </div>
    <div class="produto">
        <article>
            <div class="article-product">
                <figure>
                    <img src="assets/images/card-institucional.png" alt="Institucional" loading="lazy">
                </figure>
                <div class="article-body">
                    <h3>Institucional</h3>
                    <a href="#" class="ver-produtos">
                        Ver produtos <span class="sr-only">Ver Produtos</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </a>
                </div>
            </div>
        </article>
    </div>
    <div class="produto">
        <article>
            <div class="article-product">
                <figure>
                    <img src="assets/images/card-lavanderias.png" alt="lavanderias" loading="lazy">
                </figure>
                <div class="article-body">
                    <h3>Lavanderias</h3>
                    <a href="#" class="ver-produtos">
                        Ver produtos <span class="sr-only">Ver Produtos</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </a>
                </div>
            </div>
        </article>
    </div>
</div>

@code {

}