.duvidas {
    background-color: #f8f9fa;
}

.duvidas h2 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
}

.duvidas p {
    font-size: 1.1rem;
    color: #777777;
}

@media (max-width: 767px) {
    .duvidas .d-flex {
        gap: 1rem;
    }
}