
.hero{
    background: linear-gradient(125deg, #0e326f, #1856bf);
    background-size: cover;
    background-position: center;
    color: var(--secondary-text-color);
    padding: 50px;
    position: relative;
    height: 800px;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
        height: 600px;
        padding: 30px;
    }

    @media (max-width: 480px) {
        height: 400px;
        padding: 20px;
    }
}



.content{
    position: relative;
    
    h1 {
        font-size: 3em;
        margin-bottom: 20px;

        @media (max-width: 768px) {
            font-size: 3em;
        }

        @media (max-width: 480px) {
            font-size: 2.5em;
        }
    }
    h2 {
        font-size: 2em;
        margin-bottom: 20px;
        font-weight: normal;

        @media (max-width: 768px) {
            font-size: 1.8em;
        }

        @media (max-width: 480px) {
            font-size: 1.3em;
        }
    }

    p {
        font-size: 2em;
        margin-bottom: 20px;

        @media (max-width: 768px) {
            font-size: 1.2em;
        }

        @media (max-width: 480px) {
            font-size: 1em;
        }
    }
    
    li{
        list-style: none;
    }
    
}

.cta-button {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: transform .3s, box-shadow .3s , background-color 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &:hover {
        background-color: var(--primary-color);
        transform: translateY(-3px);
    }

    @media (max-width: 768px) {
        font-size: 14px;
        padding: 8px 16px;
    }

    @media (max-width: 480px) {
        font-size: 12px;
        padding: 6px 12px;
    }
}

.slide-in-left{
    animation: slideInLeft 1s ease-out forwards;
    opacity: 0;
    transform: translateX(-30px);
}

@keyframes slideInLeft {
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}