<div class="hero">
	<div class="hero-content slide-in-left">
		<h1>Soluções para quem exige <span class="highlight-green">máxima</span> performance!</h1>
		<h2>Produtos, Consultoria e Inovação técnica para os setores mais exigentes do mercado.</h2>
		<li><span><img src="assets/images/checkbox-checked.png" alt="CheckBox"></span> Tecnologia comprovada</li>
		<li><span><img src="assets/images/checkbox-checked.png" alt="CheckBox"></span> Equipe técnica especializada</li>
		<li><span><img src="assets/images/checkbox-checked.png" alt="CheckBox"></span> Sustentabilidade como pilar</li>
		<br>
		<a class="cta-button" href="#">Conheça nossas soluções</a>
	</div>
	<div class="hero-image slide-in-left">
		<img src="assets/images/Hero-image.png" alt="Image" loading="lazy">
	</div>
</div>

@code {
	
}