
.processo-container {
    background-color: #f9f9f9;
    color: var(--primary-color);
    text-align: center;
    padding: 50px;
    border-radius: 5px;


    .process-box {
        border: 2px solid var(--secondary-color);
        border-radius: 36px;
        padding: 30px;
        margin-top: 20px;


    }

    .steps {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }

    .step {
        padding: 20px;
        width: 200px;
        text-align: center;

    }

    .icon {
        padding: 20px;
    }
}
